<div class="super">
<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <% check = 0, profile_pic='1', id=nil, nam=nil %>
  <% @profiles.each do |profile| %>
    <% if current_user.id == profile.user_id %>
      <% check = 1%>
      <%nam= profile.user.full_name%>
      <%profile_pic = profile.image.url %>
    
    <% end %>
  <% end %>
  <% if check==1 %>
    <p>
      <%= image_tag profile_pic, size:"150x150",class:"rounded-circle" unless profile_pic.blank? %>
      <button class="btn btn-info">
        <%= link_to 'change profile', new_profile_path %>
      </button>
    </p>
    <h2><%= nam%></h2>
  <% else %>
    <p><%=image_tag "user.png", size:"150x150",class:"rounded-circle" %></p>
    <%= nam%>
  <% end %>
  
<% end %>

<h6>Profile pictures</h6>


    <% @profiles.each do |profile| %>
      <div class="p-3 mb-2 bg-white text-dark border">
      <%= image_tag profile.image.url %>
      </div>
    <% end %>
</div>