<div class="super">
  <p id="notice"><%= notice %></p>
    <div class="p-3 mb-2 bg-white text-dark border"">
    <p>
      <strong><%= @post.user.username %><strong>
    </p>

    <p>
      <small><%= @post.texts %></small>
    </p>

    <p>
      <%= image_tag @post.image.url %>
    </p>


    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
</div>